<!DOCTYPE html>
<html>
<head>
    <title>Laptop Price Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Laptop Price Predictor</h1>
        <form method="post" action="{% url 'predict' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>
</body>
</html>
